01. Explain the key features of python that make it a popular choice for programming.

Key features of Python that make it popular:

Easy to Learn & Use: Simple, readable syntax, suitable for beginners and professionals alike.
Interpreted Language: Executes code line by line, making debugging easier.
Dynamically Typed: No need to declare variable types explicitly.
Extensive Libraries & Frameworks: Offers a wide range of libraries (NumPy, Pandas, TensorFlow, etc.) for diverse tasks like data science, web development, and AI.
Cross-Platform: Runs on various operating systems like Windows, Linux, and macOS.
Large Community & Support: Vast community, ensuring abundant resources and support.
Object-Oriented & Functional: Supports multiple programming paradigms.
Versatile: Can be used for web development, automation, data analysis, machine learning, and more.

02) Describe the role of predefined keywords in python and provide examples of how they are used in a program.

Role of Predefined Keywords in Python
Reserved Words: Have specific meanings and cannot be used as identifiers.
Control Program Flow: Manage conditions (if, else), loops (for, while), and function returns (return).
Define Structure: Used to define functions (def), classes (class), and modules.
Exception Handling: Manage errors with keywords like try, except, and finally.
Variable Management: Control variable scope with global, nonlocal, and del.
Case-Sensitive: Must be used exactly as defined in lowercase.

In [1]:
# Conditional Statement (if, else)

age = 20
if age >= 18:
    print("Adult")
else:
    print("not adult")

Adult

In [2]:
# Loop (for)
for i in range(3):
    print(i)

0
1
2

In [3]:
# while loop
row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*", end = "")
        col = col+1
    print()
    row = row+1

*
**
***
****

03) Compare and contrast mutable and immutable objects in python with examples.

Mutable Objects: Objects whose values or states can be changed after they are created.
Immutable Objects: Objects whose values or states cannot be changed once they are created.

In [4]:
# mutable objects
# list
a = [1,2,3,"pwskills","datascience"]

In [5]:
a

[1, 2, 3, 'pwskills', 'datascience']

In [6]:
type(a)

list

In [7]:
a.append("xyz")

In [8]:
a

[1, 2, 3, 'pwskills', 'datascience', 'xyz']

In [9]:
a[3] = "Aagman"
a

[1, 2, 3, 'Aagman', 'datascience', 'xyz']

In [21]:
#immutable
# strings
str1 = "Aagman, Tiwari, Abc, xy"

In [22]:
str1

'Aagman, Tiwari, Abc, xy'

In [23]:
str1[2]

'g'

In [24]:
str1[2] = "bbbb"
str1

TypeError: 'str' object does not support item assignment

04) Discuss the different types of operators in python with examples.

In [25]:
# 01) Arithmetic Operators
# Perform basic mathematical operations.
# Examples: +, -, *, /, //, %, **
a = 10
b = 3
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.333
print(a // b) # Floor Division: 3
print(a % b)  # Modulus: 1
print(a ** b) # Exponentiation: 1000

13
7
30
3.3333333333333335
3
1
1000

In [26]:
# 2.) Assignment Operators
# Assign values to variables and perform compound operations.
# Examples: =, +=, -=, *=, /=, %=, **=, //=
x = 5
x += 3  # Equivalent to x = x + 3
print(x)  # Outputs: 8

8

In [27]:
# 3. Comparison Operators
# Compare two values and return a Boolean result (True or False).
# Examples: ==, !=, >, <, >=, <=
x = 10
y = 20
print(x == y)  # False
print(x != y)  # True
print(x > y)   # False
print(x < y)   # True

False
True
False
True

In [28]:
# 4. Logical Operators
# Perform logical operations and return Boolean values.
# Examples: and, or, not
x = True
y = False
print(x and y)  # False (both must be True)
print(x or y)   # True (one must be True)
print(not x)    # False (reverses the value)

False
True
False

In [29]:
# 5. Bitwise Operators
# Perform bit-level operations on binary numbers.
# Examples: & (AND), | (OR), ^ (XOR), ~ (NOT), << (left shift), >> (right shift)
a = 5  # Binary: 0101
b = 3  # Binary: 0011
print(a & b)  # Outputs: 1 (AND operation)
print(a | b)  # Outputs: 7 (OR operation)
print(a ^ b)  # Outputs: 6 (XOR operation)
print(~a)     # Outputs: -6 (NOT operation)
print(a << 1) # Outputs: 10 (Left shift)
print(a >> 1) # Outputs: 2 (Right shift)

1
7
6
-6
10
2

In [30]:
# 6. Identity Operators
# Check if two variables refer to the same object.
# Examples: is, is not
x = [1, 2, 3]
y = x
z = [1, 2, 3]
print(x is y)    # True (same object)
print(x is z)    # False (different objects, same values)
print(x is not z)  # True

True
False
True

In [31]:
# 7. Membership Operators
# Test if a value is a member of a sequence (e.g., list, string, tuple).
# Examples: in, not in
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)     # True
print(6 not in my_list) # True

True
True

05) Explain the concept of type casting in python with examples .

Type Casting allows the conversion between different data types, either implicitly or explicitly.
Implicit Casting is handled automatically by Python, while Explicit Casting requires the use of built-in functions.

In [32]:
# int to float
a = 2
type(a)

int

In [33]:
float(a)

2.0

In [35]:
type(float(a))

float

In [37]:
#explicit conversion
a = "2"
type(a)

str

In [38]:
a = int(a)

In [40]:
type(a)

int

06) How do conditional statements work in python ?illustae with examples.

if Statement: Executes a block of code if the condition is True.
elif Statement: Provides an alternative condition to check if the previous if or elif conditions were False.
else Statement: Executes a block of code if all preceding conditions are False.
Nested Statements: You can nest conditional statements within each other for more complex decision-making.

In [42]:
# if condition:
#     # Block of code executed if the condition is True
# elif another_condition:
#     # Block of code executed if the previous condition is False and this condition is True
# else:
#     # Block of code executed if all previous conditions are False

In [44]:
score = 93
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")  # This block executes because the condition is True.
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: A

07) Describe the different types of loops in python and their use cases with examples.

For Loop: Used for iterating over a sequence or a known number of times.
While Loop: Used when the number of iterations is not known and depends on a condition.
Nested Loops: Allows for multi-dimensional data processing.
Control Statements: break, continue, and pass provide additional control over loop execution.

In [45]:
# while loop
n = 7
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6

In [46]:
# for loop() for printing star pattern 
for i in range(4):
    for j in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [47]:
# for loop() --> for printing multiplication of a table
for i in range(1,11):
    for j in range(1,11):
        product = i * j
        print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100